.nav-bar{
    overflow: hidden;
}
.dropdown{
    float: right;
    overflow: hidden;
}
.drp-content{
    display: none;
    position: absolute;
    z-index: 1;
    min-width: 160px;
    box-shadow: 0px 10px 22px 0px rgba(0, 230, 247, 0.2);
    border-radius: 5px;
}
.drp-content a{
    float: none;
    display: block;
    text-align: left;
    padding:12px 16px;
    padding:12px 16px;
}
.navs-list:hover{
    transition: 500ms;
}

.dropdown:hover .drp-content{
    display:block;

}

